@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <img class="img-responsive" src="~/Content/Images/Sport/boxWithSportItems.jpg" alt="An image with a box that contains various items like basketballs and footballs" width="300" height="500">
            </div>
        </div>
        <div class="col-md-6">
            <h2>Use cases are:</h2>
            <ul>
                <li>Register a new student</li>
                <li>Add the sports you are teaching</li>
                <li>Add attendances to students</li>
                <li>Generate reports regarding the end of semester students status</li>
            </ul>
        </div>
    </div>
</div>