@{
    ViewBag.Title = "Contact";
}
<div class="text-center">
<div class="container">
    <img class="img-responsive" src="~/Content/Images/Sport/contact.png" alt="An image with a box that contains various items like basketballs and footballs" width="500" height="500">
</div>
 <hr />
<address>
   Sport Attendance Manager<br />
    Timis, Timisoara<br />
    <abbr title="Phone">Phone:</abbr>
    +123-456-789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
</div>